<footer class="post comments">
{{#is "post"}}

<div id="SOHUCS" sid={{id}}></div>
<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cys4tS3HA',
        conf: 'prod_36e0cb40928d1dd80e272434912e7689'
    });
</script>
{{/is}}
</footer>
