<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved.版权归 JSCON-简时空 所有. 使用 <a href="https://ghost.org/" target="_blank">Ghost</a> 以及 <a href="https://github.com/Kikobeats/uno-zen" target="_blank">Uno Zen</a> 主题.
  </span>
  <div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002824" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="https://lh3.googleusercontent.com/-HkuqlcPRva4/V0xMxmHJ7aI/AAAAAAAACuE/JIWf0LS32WwSPo88AB7fU_m40mR18mQNQCCo/s800/%25E5%25A4%2587%25E6%25A1%2588%25E5%259B%25BE%25E6%25A0%2587.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010602002824号</p></a>
</div>
</footer>
