<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved.版权归 JSCON-简时空 所有. 使用 <a href="https://ghost.org/" target="_blank">Ghost</a> 以及 <a href="https://github.com/Kikobeats/uno-zen" target="_blank">Uno Zen</a> 主题.
  </span>
</footer>
